button {
    background-color: red;
    color: white;
    border: rgb(156, 151, 143) 2px solid;
    padding: 10px 20px;
    transition: all 2s;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
    color: white;
    border-color: lightskyblue;
    box-shadow: 20px 20px 5px red;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}